@import "tailwindcss";
@plugin "daisyui" {
  prefix: "du-";
  logs: false;
}

@theme {
  --color-theme: #565dc5;
  --color-bg-lighter: #363636;
  --color-bg-base: #303030;
  --color-bg-darker: #282828;
  --color-bg-darkest: #222222;
  --color-text-base: #c8c8c8;
  --color-text-lighter: #e0e0e0;
}

@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Preahvihear";
  src: url("/fonts/Preahvihear-Regular.ttf") format("truetype");
  font-display: swap;
}

html {
  @apply bg-bg-darker text-text-base;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  @apply bg-bg-base;
}

button,
div[role="button"] {
  @apply cursor-pointer select-none;
  touch-action: manipulation;
}

img {
  @apply select-none;
  -webkit-user-drag: none;
}

* {
  font-family: "National Park", sans-serif;
}

.preahvihear {
  font-family: "Preahvihear", sans-serif;
}

.no-scrollbar {
  scrollbar-width: none;
}
